# Gitignore for client
# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

# Dependencies
client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
!client/.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# Backend ignores
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/**/src/main/**/target/
backend/**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/**/src/main/**/build/
backend/**/src/test/**/build/

### VS Code ###
backend/.vscode/
